<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="text-center my-3">
                Jeux à point de vue simple
            </h3>

            <div *ngIf="singleViewGames.length === 0; else hasSingleViewGames">
                <div class="card custom-shadow border-0 mb-3">
                    <div class="card-body">
                        <h5 class="text-center">
                            <div *ngIf="gamesLoaded else firstViewLoader">
                                Aucun jeu disponible
                            </div>
                            <ng-template #firstViewLoader>
                                <fa-icon [icon]="['fas', 'circle-notch']" [spin]="true" size="2x"></fa-icon>
                            </ng-template>
                        </h5>
                    </div>
                </div>
            </div>

            <ng-template #hasSingleViewGames>
                <div *ngFor="let game of singleViewGames">
                    <app-game [game]="game"></app-game>
                </div>
            </ng-template>
        </div>

        <div class="col">
            <h3 class="text-center my-3">
                Jeux à point de vue double
            </h3>

            <div *ngIf="doubleViewGames.length === 0; else hasDoubleViewGames">
                <div class="card custom-shadow border-0 mb-3">
                    <div class="card-body">
                        <h5 class="text-center">
                            <div *ngIf="gamesLoaded else secondViewLoader">
                                Aucun jeu disponible
                            </div>
                            <ng-template #secondViewLoader>
                                <fa-icon [icon]="['fas', 'circle-notch']" [spin]="true" size="2x"></fa-icon>
                            </ng-template>
                        </h5>
                    </div>
                </div>
            </div>

            <ng-template #hasDoubleViewGames>
                <div *ngFor="let game of doubleViewGames">
                    <app-game [game]="game"></app-game>
                </div>
            </ng-template>
        </div>
    </div>
</div>