<div class="row">
    <div class="col-md-6 col-sm-12 image-container">
        <img class="img-thumbnail game-image" src="https://www.w3schools.com/w3css/img_lights.jpg">
    </div>
    <div class="col-md-6 col-sm-12 image-container">
        <button type="button" class="btn btn-light" (click)="incrementPlayerCountSolo()">
            <img class="img-thumbnail game-image" src="https://www.w3schools.com/w3css/img_lights.jpg">
        </button>
    </div>
</div>
<!-- progressbar-->

<div *ngFor="let progressBar of progressBarWidth; let i = index" [attr.data-index]="i" >
    <div class="progress">
    <div  class="progress-bar" role="progressbar" [style.width.%]="progressBar" aria-valuenow="25" aria-valuemin="0"
    aria-valuemax="100">
        {{progressBar}}
    </div>
    </div>
</div>


<div class="row">
    <div *ngFor="let counter of counters; let i = index" [attr.data-index]="i" class="col">
        <div *ngIf="counter !== undefined;">
            <h4>
                Joueur #{{ i + 1 }}
            </h4>
            <span *ngIf="counter <= 1; else elseBlock">
                {{ counter }} différence trouvée
            </span>
            <ng-template #elseBlock>
                {{ counter }} différences trouvées
            </ng-template>
        </div>
    </div>
</div>

<!-- 

<div *ngFor="let progressBar of progressBarWidth; let i = index" [attr.data-index]="i">
    <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width.%]="progressBar" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100">
            {{progressBar}}
        </div>
    </div>
</div>


-->