<div *ngIf="game" class="pt-5">
    <div class="custom-fixed-top px-5 py-3 custom-shadow-sm">
        <div class="row">
            <div class="col-2">
                <app-chrono></app-chrono>
            </div>
            <div class="col">
                <app-diff-counter [playerOneId]="playerId" [errorsRequired]="game.type === 0 ? MAX_SINGLE_VIEW_ERROR_COUNT : MAX_DOUBLE_VIEW_ERROR_COUNT">
                </app-diff-counter>
            </div>
        </div>
    </div>

    <div class="mt-60">
        <app-image-diff [gameId]="game._id" [imageView]="firstView" [originalImageSrc]="game.imageUrl[0]"
            [modifiedImageSrc]="game.imageUrl[1]" (errorFound)="errorWasFound()" (noErrorFound)="noErrorWasFound()"></app-image-diff>

        <app-image-diff *ngIf="game.type==1" [gameId]="game._id" [imageView]="secondView" [originalImageSrc]="game.imageUrl[3]"
            [modifiedImageSrc]="game.imageUrl[4]" (errorFound)="errorWasFound()" (noErrorFound)="noErrorWasFound()"></app-image-diff>
    </div>
</div>