<div class="row">
    <div class="col">
        <div *ngIf="singleViewGames.length === 0; else hasSingleViewGames">
            <h3 class="text-center mb-3">
                Aucun jeu en vue simple disponible
            </h3>
        </div>
        
        <ng-template #hasSingleViewGames>
            <h3 class="text-center mb-3">
                Jeux à point de vue simple
            </h3>
            <div *ngFor="let game of singleViewGames">
                <app-game [game]="game"></app-game>
            </div>
        </ng-template>
    </div>

    <div class="col">
        <div *ngIf="doubleViewGames.length === 0; else hasDoubleViewGames">
            <h5 class="text-center mb-3">
                Aucun jeu en vue double disponible
            </h5>
        </div>

        <ng-template #hasDoubleViewGames>
            <h3 class="text-center mb-3">
                Jeux à point de vue double
            </h3>
            <div *ngFor="let game of doubleViewGames">
                <app-game [game]="game"></app-game>
            </div>
        </ng-template>
    </div>
</div>