<div class="card custom-shadow border-0 mb-3">

    <div class="card-body">
        <h4>
            {{ game.title }} (id : {{game._id}})
        </h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <img src="{{ game.imageUrl[0] }}" alt="Image" class="img-fluid rounded custom-shadow-sm">
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div *ngFor="let leaderboard of game.leaderboards" class="col">
                        <app-leaderboard [leaderboard]="leaderboard"></app-leaderboard>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="btn btn-info btn-block btn-pill" data-toggle="modal" [attr.data-target]="'#reset-modal-' + game._id">
                            Réinitialiser les scores
                        </button>
                    </div>

                    <div class="col">
                        <button class="btn btn-danger btn-block btn-pill" data-toggle="modal" [attr.data-target]="'#delete-modal-' + game._id">
                            Supprimer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" [id]="'delete-modal-' + game._id">
    <div class="modal-dialog modal-confirm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h4>
                    <fa-icon [icon]="['fas', 'exclamation-triangle']" class="text-danger"></fa-icon>
                    Êtes-vous certain?
                </h4>
                <hr />

                <p>Cette opération est irréversible. Voulez-vous supprimer ce jeu?</p>

                <div class="float-right">
                    <button type="button" class="btn btn-default mr-2" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Supprimer</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" [id]="'reset-modal-' + game._id">
    <div class="modal-dialog modal-confirm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h4>
                    <fa-icon [icon]="['fas', 'question-circle']" class="text-info"></fa-icon>
                    Êtes-vous certain?
                </h4>
                <hr />

                <p>Cette opération est irréversible. Voulez-vous réinitialiser le tableau des scores?</p>

                <div class="float-right">
                    <button type="button" class="btn btn-default mr-2" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="resetLeaderboard()">Réinitialiser</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>