<div class="card mb-3">
    <h4 class="card-header">
        {{ game.title }}
    </h4>

    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ game.imageUrl[0] }}" alt="Image" class="img-fluid">
            </div>

            <div class="col-md-8">
                <h5 class="text-center">
                    Top 3
                </h5>

                <div class="row">
                    <div *ngFor="let leaderboard of game.leaderboards" class="col">
                        <app-leaderboard [leaderboard]="leaderboard"></app-leaderboard>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary btn-block" [routerLink]="['/game/' + game._id]">
                            Jouer en solo
                        </button>
                    </div>

                    <div class="col">
                        <button class="btn btn-primary btn-block">
                            <span *ngIf="isJoinable; else elseBlock">
                                Joindre la partie
                            </span>
                            <ng-template #elseBlock>
                                Créer une partie
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
