<div class="row">
    <div class="col">
        <h3 class="text-center mb-3">
            Jeux à point de vue simple
        </h3>

        <div *ngIf="singleViewGames.length === 0; else hasSingleViewGames">
            <div class="card custom-shadow border-0 mb-3">
                <div class="card-body">
                    <h5 class="text-center">
                        Aucun jeu disponible
                    </h5>
                </div>
            </div>
        </div>

        <ng-template #hasSingleViewGames>
            <div *ngFor="let game of singleViewGames">
                <app-game [game]="game"></app-game>
            </div>
        </ng-template>
    </div>

    <div class="col">
        <h3 class="text-center mb-3">
            Jeux à point de vue double
        </h3>

        <div *ngIf="doubleViewGames.length === 0; else hasDoubleViewGames">
            <div class="card custom-shadow border-0 mb-3">
                <div class="card-body">
                    <h5 class="text-center">
                        Aucun jeu disponible
                    </h5>
                </div>
            </div>
        </div>

        <ng-template #hasDoubleViewGames>
            <div *ngFor="let game of doubleViewGames">
                <app-game [game]="game"></app-game>
            </div>
        </ng-template>
    </div>
</div>