<div class="py-3">
    <div class="row">
        <div class="col-md col-sm-12">
            <canvas #original width="640" height="480" class="mr-auto d-block custom-shadow-sm rounded" (click)="isClicked($event)"></canvas>              
        </div>
        <div class="col-md col-sm-12">
            <canvas #modified width="640" height="480" class="ml-auto d-block custom-shadow-sm rounded" (click)="isClicked($event)"></canvas>                                               
        </div>
    </div>
</div>
